APP_URL=http://localhost:3333
NODE_ENV=development

# Auth
APP_SECRET=bootcampgobarbernode

# Database
BD_HOST=
BD_USER=
BD_PASS=
DB_NAME=

# Mongo
MONGO_URI=

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

#Sentry
SENTRY_DSN=https://ce45eff91bd3485f830cec0bf7f21c1f@sentry.io/1540360
